.card {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
}

.shipName {
  text-transform: capitalize;
  padding: 8px;
  font-size: 30px;
}

@media screen and (max-width: 900px) {
  .card {
    flex-direction: row;
  }
}

@media screen and (max-width: 500px) {
  .shipName {
    font-size: 20px;
    padding: 0px 8px;
  }

  .card {
    display: flex;
    padding: 0 16px;
    flex-direction: row;
  }
}
